# Laravel ignores
# we will no longer be ignoring laravel files
#vendor
/storage/

# Vim ignores
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# local ignores
*.swp
*.DS_Store
*.env
*.env.local
public/version.json

# environment ignores
/.env

#testing ignores
app/Http/Controllers/Assessments/output.json
app/Http/Controllers/Utilities/status.json
