APP_ENV=SED_ENVIRONMENT
APP_DEBUG=false
APP_URL=https://SED_HOSTNAME
APP_CORS_URL=https://SED_HOSTNAME
APP_FLOODLIGHT=<Your Floodlight Domain URL, not applicable to SWAMP-in-a-Box>
APP_INCOMING=/swamp/incoming/
APP_KEY=<Any Sixteen Character ASCII Permitted Hash String>
APP_PASSWORD_ENCRYPTION_METHOD=BCRYPT
APP_PASSWORD_MAX=10
APP_LOG=daily
APP_LOG_LEVEL=debug
APP_STATS=false
APP_CONTACT_FORM=false
APP_SIGN_UP=true

HTCONDOR_COLLECTOR_HOST=SED_HOSTNAME

MAIL_ENABLED=false
MAIL_DRIVER=<'sendmail' or 'smtp'>
MAIL_HOST=<Your Mail Server URL>
MAIL_PORT=<Your Mail Server's Port if driver is 'smtp'>
MAIL_FROM_ADDRESS=<Your Sender Address for Outgoing SWAMP Email>
MAIL_FROM_NAME=<Your Sender Name for Outgoing SWAMP Email>
MAIL_CONTACT_ADDRESS=<Your Recipient Address for Contact Email>
MAIL_CONTACT_NAME=<Your Recipient Name for Contact Email>
MAIL_SECURITY_ADDRESS=<Your Recipient Address for Security Incident Email>
MAIL_SECURITY_NAME=<Your Recipient Name for Security Incident Email>
MAIL_ENCRYPTION=<Your Mail Encryption Identifier if driver is 'smtp'>
MAIL_USERNAME=<Your Mail Server Username if driver is 'smtp'>
MAIL_PASSWORD=<Your Mail Server Password if driver is 'smtp'>

LDAP_ENABLED=false
LDAP_PASSWORD_VALIDATION=false
LDAP_READ_ONLY=false
LDAP_MIR_SWAMP=false
LDAP_HOST=<The LDAP Host URL>
LDAP_PORT=636
LDAP_BASE_DN=ou=people,o=SWAMP,dc=cosalab,dc=org
LDAP_USER_RDN_ATTR=swampUuid
LDAP_SWAMP_UID_ATTR=swampUuid
LDAP_FIRSTNAME_ATTR=givenName
LDAP_LASTNAME_ATTR=sn
LDAP_FULLNAME_ATTR=cn
LDAP_PASSWORD_ATTR=userPassword
LDAP_USERNAME_ATTR=uid
LDAP_EMAIL_ATTR=mail
LDAP_ORG_ATTR=o
LDAP_OBJECTCLASS=top,person,organizationalPerson,inetOrgPerson,eduPerson,swampEntity
LDAP_WEB_USER=<The Main LDAP Username>
LDAP_WEB_USER_PASSWORD=<The Main LDAP Password>
LDAP_PASSWORD_SET_USER=<The LDAP Pasword Set User>
LDAP_PASSWORD_SET_USER_PASSWORD=<The LDAP Password Set Password>

GITHUB_ENABLED=false
GITHUB_CLIENT_ID=<Your Client ID provided by GitHub>
GITHUB_CLIENT_SECRET=<Your Client Secret provided by GitHub>

GOOGLE_ENABLED=false
GOOGLE_CLIENT_ID=<Your Client ID provided by Google>
GOOGLE_CLIENT_SECRET=<Your Client Secret provided by Google>

CILOGON_ENABLED=false
CILOGON_CLIENT_ID=<Your Client ID provided by CILogon>
CILOGON_CLIENT_SECRET=<Your Client Secret provided by CILogon>

SESSION_DRIVER=file
SESSION_LIFETIME=2160
SESSION_EXPIRE_ON_CLOSE=false
SESSION_COOKIE=swamp_session
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

PROJECT_DB_HOST=SED_HOSTNAME
PROJECT_DB_PORT=3306
PROJECT_DB_DATABASE=project
PROJECT_DB_USERNAME=web
PROJECT_DB_PASSWORD=PATCH_WEBPASSWORD

PACKAGE_DB_HOST=SED_HOSTNAME
PACKAGE_DB_PORT=3306
PACKAGE_DB_DATABASE=package_store
PACKAGE_DB_USERNAME=web
PACKAGE_DB_PASSWORD=PATCH_WEBPASSWORD

TOOL_DB_HOST=SED_HOSTNAME
TOOL_DB_PORT=3306
TOOL_DB_DATABASE=tool_shed
TOOL_DB_USERNAME=web
TOOL_DB_PASSWORD=PATCH_WEBPASSWORD

PLATFORM_DB_HOST=SED_HOSTNAME
PLATFORM_DB_PORT=3306
PLATFORM_DB_DATABASE=platform_store
PLATFORM_DB_USERNAME=web
PLATFORM_DB_PASSWORD=PATCH_WEBPASSWORD

ASSESSMENT_DB_HOST=SED_HOSTNAME
ASSESSMENT_DB_PORT=3306
ASSESSMENT_DB_DATABASE=assessment
ASSESSMENT_DB_USERNAME=web
ASSESSMENT_DB_PASSWORD=PATCH_WEBPASSWORD

VIEWER_DB_HOST=SED_HOSTNAME
VIEWER_DB_PORT=3306
VIEWER_DB_DATABASE=viewer_store
VIEWER_DB_USERNAME=web
VIEWER_DB_PASSWORD=PATCH_WEBPASSWORD

CACHE_DRIVER=file
QUEUE_DRIVER=sync
